#btn-resume {
  font-size: 14px;
  padding: 6px 12px !important;
}

@media (min-width: 992px) {
  #btn-resume {
    font-size: 14px;
    padding: 6px 12px !important;
    margin: 8px 15px;
  }
}

.tag-bg {
  border-radius: 3px;
  background: #DADADA;
  margin: 5px;
  padding: 8px;
  display: inline-block
}

.bg-light {
    background-color: #d4d4d4 !important;
}

.portfolio-modal .modal-bodyleft {
  padding: 0px 75px;
  text-align: left;
}

